@media (min-width: 1200px) {

  .block16__headline{
    font-size: 30px;
  }

  .block16-price_headline{
    font-size:7px;
  }

  .block16__headline-wrapper{
  
    padding-left:30px;
  }

  .block16__first-image{
    top:0;
    left:245px;
  }
  
  .block16__second-image{
    bottom:40px;
    right:300px;
    
  }

  .block16__motivation-article{
    padding-bottom:40px;
  }
}