.block16{
  padding-bottom:75px;
}

.block16__headline-wrapper{
  padding:0px 19.8%;;
}

.block16__headline{
  text-align: center;
}

.block16__motivation-article{
  padding:0 17%;
}

.block16-course-features__list{
  padding:0 17%;
}

.block16__second-image{
  display:none;
}

.block16__motivation-article{
  padding-bottom:20px;
}
.block16__underpicture-list{
  padding-left:0;
}

.block16__list-item-headline{
  text-transform: uppercase;
  margin-top:29px;
  padding-right: 20%;
}

.block16-course-features__headline{
  padding:0 38px;
  text-transform: uppercase;
}

.block16-course-features__list-item-headline{
  margin:0;
  padding-bottom:10px;
}

.block16-course-features__list-item-text{
  margin:0;
}

.block16-course-features__list-item{
  padding-bottom:20px;
}

.block16-course-features__list-item-last{
  display: flex;
  flex-direction: row;
  margin-left:-25px;
  padding-bottom:0;
}

.block16-price_headline{
  flex-basis:50%;
  font-size:16px;
  line-height:29px;
}

.block16__price-wrapper{
  flex-basis:50%;
}

.block16__line-text{
  font-size:17px;
  line-height:43px;
  color:#3c3b40;
  margin:0;
  text-decoration: line-through;
  text-decoration-color:inherit;
}

.block16__new-price{
  font-size:36px;
  line-height:43px;
  margin:0;
}

.block16__new-price-small{
  font-size:17px;
  line-height:43px;
  margin:0;
}
