@media (min-width: 1200px) {
    .block18-price{
        width:23%;
        position: absolute;
        left:245px;
        top:50%;
        order:-1;
        height:192px;
        margin:0 0 0 0;
        transform:translateY(-50%);
    }

    .block18__textarea{
    margin-right:70px;
    }

    .block18__headline{ 
        padding-left:58%;
            
    }
}