@media (min-width: 1200px) {
  .block11 {
    padding-bottom: 115px;
  }

  .block11__inner {
    grid-template-columns: 34.882% 8.7% 4.54% 20.35% 20.35% 11.11%;
    grid-template-rows: 60px 30px 80px 28px 55px 66px 220px;
  }

  .block11__underheadline-bold {
    font-size: 10px;
    line-height: 16px;
  }

  .block11__headline {
    font-size: 25px;
    padding-right: 10%;
  }
}
