.block3{
  padding-bottom:45px;
}

.block3__title{
   padding-bottom:27px;
   margin:0;
}

.block3__inner-head{
  padding:0 20.7% 13.5px 20.7%;

}

.block3__list-title{
  margin:0;
  font-size:23px;
  line-height: 23px;
  text-transform: uppercase;
}

.block3__list-title-sub{
  font-size: 13px;
}

.block3__list-item:before{
  top:10px;
}