$maintextcolor: #ffffff;
$greytextcolor: #afb0b3;
$blackcolor: #000000;
$secondgreytextcolor:#3f4144;
$maincolor:#ff6b08;
$markertextcolor: #16ebfe;
$backgroundcolor:#181c27;

img{
   max-width:100%;
   height: auto;
   display:block; 
}

* {box-sizing: border-box}

