
@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom/Acrom-Regular.woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom/Acrom-Bold.woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom/Acrom-ExtraBold.woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom/Acrom-Light.woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom/Acrom-Medium.woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom/Acrom-Thin.woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Futura';
	src: 	url('../fonts/Futura/Futura Extra Bold.otf') format('woff');
	font-weight: 800;
	font-style: normal;
}


@font-face {
	font-family: 'Futura';
	src: 	url('../fonts/Futura/FuturaMediumC.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Futura';
	src: 	url('../fonts/Futura/FuturaDemiC.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
	font-family: 'MinionPro';
	src: url('../fonts/MinionPro/MinionPro-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
  }