/* FONT PLACEHOLDERS*/
%acrom-regular {
  font-family: 'Acrom',sans-serif;
  font-weight: 400;
}
%acrom-bold {
  font-family: 'Acrom',sans-serif;
  font-weight: 700;
}
%acrom-extrabold {
  font-family: 'Acrom',sans-serif;
  font-weight: 800;
}
%acrom-light {
  font-family: 'Acrom',sans-serif;
  font-weight: 300;
}
%acrom-medium {
  font-family: 'Acrom',sans-serif;
  font-weight: 400;
}
%acrom-thin {
  font-family: 'Acrom',sans-serif;
  font-weight: 200;
}


%futura-medium {
  font-family: 'Futura', sans-serif;
  font-weight: 400;
}
%futura-bold {
  font-family: 'Futura', sans-serif;
  font-weight: 700;
}


%gilroy-light {
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
}
%gilroy-thin {
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
}


%minion-medium {
  font-family: 'MinionPro', serif;
  font-weight: 400;
}

/* TEXT PLACEHOLDERS*/
%text1319 {  
  font-size: 13.5px;
  line-height: 1.4444; /* 19.5 */
}