@media (min-width:768px){
    .block17{
        padding-bottom:120px;
      }

      .block17__form{
        width:51.75%;
        padding:55px 60px;
      }

    .block17__button{
        width:66%;
    }
}