@media (min-width:1200px){

    .block05{
        padding-bottom:146px;
    }

    .block05__headline {
        font-size: 30px;
        line-height: 36.5px;
        padding-right: 16%;
    }

    .block05__slider{
        width:66%;
    }

    .block05__article {
        font-size: 10px;
    }

    .block05__slider{
        height:345px;   
        padding: 30px 26px 28px 30px; 
    }

    .block05__number{
        line-height: 11px;
    }

    .block05__slider-pointer{   
        bottom:-23px;
        height:23px;   
    }

    .block05__name {
        font-size: 8px;
    }

    .block05_arrow{
        padding:4px;
        width:23px;
        height: 23px; 
          
      }
}