.block14__inner{
  display: flex;
  flex-direction: column;
}

.block14{
  margin-bottom: 60px;
}

.block14__bgr--img{
  padding-left: 70px;
  padding-bottom: 18px;
}

.block14__slash-text--wrap{
  padding: 0 10.3% ;
  font-size: 13.5px;
}

.block14__slash-text{
  margin: 0;
  padding-bottom: 24px;
}

.block-14__title{
  padding: 0 18.4% 25px 18.4%;
  margin: 0;
}

.block14__title-desc--wrap{
  padding: 0 17.3%;
}

.block14__title--desc{
  margin: 0;
  padding-bottom: 55px;
}

.block14__subtitle{
  text-transform: uppercase;
  padding: 0 10% 20px 10%;
  margin: 0;  
}

.block14__item{
  width: 62%;
  margin: 0 auto;
  padding-bottom: 4px;
}
