@media (min-width: 1200px) {
    .block9__main-title {
       
    }

    .block9-main-title-part2 {
        font-size: 30px;
        
        line-height: 42px;
    }

    .block9__item-conclusion {
        font-size: 10px;
       
    }
}