.block06{
    padding-bottom: 66px;
}

.block06__inner *{
    margin:0;
}

.block06__subinner{
    padding:0 11.79%;
}


.block06__headline-part{
   padding:0 7.4% 38px; 

}

.block06__image{
    display: none;
}

.block06__headline {
  padding:0 0 22px 14%;
  font-size: 18px;
  line-height: 24px;
}

.block06__list{
    padding-left:7%;
}

.block06__list-element {
   padding:0 0 16px 0;
}

.block06__list-title{
    padding:0 0 0 0;
    font-size: 13px;
    line-height: 20px;
}



