.button{
    padding: 0;
    border: none;
    color: $maintextcolor;
    background-color: $maincolor;
    cursor: pointer;
    font-family:'Acrom';
    font-weight:800;
    box-shadow: 0px 5px 6px 0px #c4570f42;
    display:block;
    margin:0 auto;
    color: $maintextcolor;
    text-transform:uppercase;
}

  .button:hover, .button:focus {
    background-color: rgb(23, 236, 255);
    box-shadow: 0px 5px 6px 0px #17ecff42;
  }

  .button:active{
    background-color: rgb(6, 164, 178);
    box-shadow: 0px 5px 6px 0px rgba(6, 164, 178, 0.26);  
  }

  
  
