@media (min-width: 1200px) {
  .block10-course-features__headline {
    flex-basis: 20%;
    font-size: 10px;
    line-height: 18px;
  }

  .block10-course-features__list {
    flex-basis: 74.4%;
  }

  .block10-course-features__list-item {
    padding-right: 20px;
  }

  .block10__first-image {
    left: 245px;
  }

  .block__inner10-one {
    padding-bottom: 60px;
  }
}
