@media (min-width: 768px) {
  .block10__headline-wrapper {
    padding: 0 0;
    display: block;
    width: 50%;
    align-self: flex-end;
  }

  .block10-course-features__list {
    padding: 0 0;
  }

  .block10__first-image {
    position: absolute;
    top: 0;
    left: 64px;
  }

  .block__inner10-one {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 30px;
  }

  //undertext-flex

  .block10__underpicture-list-item {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
  }

  //down-flex-styles

  .block10-course-features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .block10-course-features__headline {
    width: 16%;
    padding: 0;
    margin: 0;
  }

  .block10-course-features__list {
    padding: 0 0;
    width: 72%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .block10-course-features__list-item {
    flex-basis: 29%;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .block10-course-features__list-item:nth-child(n + 4) {
    padding-bottom: 0;
  }

  .block10-course-features__list-item-last {
    display: flex;
    flex-direction: row;
    margin-left: -25px;
    padding-bottom: 0;
    padding-top: 10px;
    flex-basis: 170px;
  }

  .block10-price_headline {
    min-width: 50%;
    font-size: 8px;
    line-height: 13px;
  }

  .block10__price-wrapper {
    flex-basis: 50%;
  }

  .block10__line-text {
    font-size: 8px;
    line-height: 20px;
  }

  .block10__new-price {
    font-size: 17px;
    line-height: 20px;
  }

  .block10__new-price-small {
    font-size: 9px;
    line-height: 20px;
  }

  .block10__sectioninner-footer {
    padding: 0 0 0 0;
    flex-direction: row;
  }

  .block10__anderpicture-text--lightgrey {
    font-size: 13px;
    margin-bottom: 26px;
  }

  .block10-course-features__list {
    margin: 0;
  }

  .block10__anderpicture-text--lightgrey {
    font-size: 9px;
    line-height: 14px;
    padding: 5px 0 0 0;
    margin: 0 0 0 65px;
    flex-basis: 180px;
  }

  .block10__anderpicture-text--lightgrey:before {
    top: 10px;
    left: -30px;
  }

  .block10__button {
    flex-basis: 114px;
    line-height: 30px;
    order: -1;
    margin: 0;
    align-self: flex-start;
    width: 17%;
    font-size: 6px;
    padding: 0;
  }
}
